html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: magenta;
}

/* IF01 – background */
#IF01 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 0px;
  border: 0;
  overflow: hidden;
}

/* IF02 – msgheader */
#IF02 {
  position: absolute;
  width: 1056px;
  height: 100px;
  top: 16px;
  left: 432px;
}

/* IF03 – ytplaylist */
#IF03 {
  position: absolute;
  top: 132px;
  left: 16px;
  width: 960px;
  aspect-ratio: 16/9;
  border: 0;
}

/* IF04 – jaseworld2 */
#IF04 {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 132px;
  left: 992px;
}

/* IF05 – clock */
#IF05 {
  position: absolute;
  top: 690px;
  left: 16px;
  width: 150px;
  height: 150px;
  border: none;
}

/* IF06 – weather */
#IF06 {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 690px;
  left: 182px;
}

/* IF07 – pastebox */
#IF07 {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 690px;
  left: 1096px;
}

/* IF08 – googlesheet */
#IF08 {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 856px;
  left: 1312px;
}

/* IF09 – calendar */
#IF09 {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 856px;
  left: 1528px;
}

/* IF10 – toolbox */
#IF10 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 400px;
  height: 100px;
  border: none;
}
