#ls-header {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  z-index: 10;

  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
}

.ls-arrow {
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

#ls-counter {
}

#ls-content {
  position: absolute;
  overflow: hidden;

  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
}
