body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

.header-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-desktop-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-box {
  height: 100%;
  width: 100px;
  background: #0000AA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex: 0 0 auto;
}

.header-box span {
  font-size: 70%;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1;
}

.header-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 0;
}
