body {
  margin: 0;
  padding: 0;
  width: 368px;
  height: 68px;
  background-color: #ccc;
  color: #000;
  font-family: sans-serif;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

#pageflip {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#prevBtn,
#nextBtn {
  width: 16px;
  height: 16px;
  font-size: 10px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

#pageLabel {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
}
