body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 400px;
  height: 100px;
  background-color: #ccc;
  color: #000;
  font-family: sans-serif;
  border: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
