body {
  margin: 0;
  padding: 0;
  width: 368px;
  height: 68px;
  background-color: #ccc;
  color: #000;
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 16px;
}
